html body {
    background-color: rgb(21, 10, 49); /*rgb(13, 5, 66);*/
    color: rgb(160, 160, 160);
    padding: 10px;
}
.parent {
  display: flex;
  height: 200px;
  margin: 10px;
}
.child {
  margin: 5px;
}

.viewer {
  max-height: 450px;
}

.workingday {
  background-color: rgb(29, 24, 51);
}
.workingday .debriefReport {
  background-color: rgb(38, 32, 65);
  font-size: .8em;
}
.workingday .date {
  letter-spacing: 0.05em;
}
.workingday .routeNumber {
  letter-spacing: 0.1em;
  font-weight: 500;
}