html body {
    background-color: black;
    color: rgb(90, 81, 81);
    padding: 10px;
}
.parent {
  display: flex;
  height: 200px;
  margin: 10px;
}
.child {
  margin: 5px;
}

.things {
  display: flex;
  flex-flow: wrap;
}
.things .thing {
  margin: 5px;
  padding: 8px;
  border: 1px outset rgb(85, 40, 40);
  background-color: rgb(24, 6, 6)
}