html body {
    background-color: rgb(24, 21, 21);
    color: rgb(114, 114, 114);
    padding: 10px;
}
.parent {
  display: flex;
  height: 200px;
  margin: 10px;
}
.child {
  margin: 5px;
}

.thing {
  background-color: rgb(41, 38, 38);
}
.debriefReport {
  font-size: .8em;
}
.viewer {
  max-height: 450px;
}