      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="#">
          <!--A<span style="font-size: .7em;">mshurst</span>
          V<span style="font-size: .7em;">illas</span>-->
          <%- navbar_title %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item d-none">
              <a class="nav-link" href="/users/">Users</a>
            </li>
            <li class="nav-item d-none">
              <a class="nav-link" href="/methschedule/">Meth Reduction Schedule</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ben
              </a>
              <div class="cdropdown-menu shadow" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Secretary (prod)</a>
                <a class="dropdown-item" href="#">Secretary (proto)</a>
                <a class="dropdown-item" href="../../secretary/www/index.html">Secretary (dev)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other dev</a>
              </div>
            </li>
            <li class="nav-item invisible">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>