<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    
    <%- include('inc/head'); %>
    
  </head>
  <body>

    <div class="parent">
        <div class="child shadow p-3">
            <h1>Manage Data</h1>
        </div>
    </div>

    <%- include('inc/footer'); %>

  </body>
</html>
