<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    
    <%- include('inc/head'); %>
    
  </head>
  <body>
    
    <div class="border-bottom mb-2">
      <h3><%= page_title %></h3>
    </div>
    
    <div class="">
      <div class="display-1">Hello</div>
    </div>


    <%- include('inc/footer'); %>

  </body>
</html>
